<div class="free-ebook-hero-container">
    <div class="ebook-wrap">
        <img class="ebook-cover-image floating" src="{{asset "images/coba3.png"}}">
        <h3 class="ebook-title">GET MY FREE 80-PAGE GUIDE,</h3>
        <h3 class="sub-title">No Spam, No Jibjab, Cancel Kapanpun</h3>
        <div class="form-line">
        <form action="//yoo.us14.list-manage.com/subscribe/post?u=110541fa3a1e5c9b4628e667a&amp;id=5ba6aea09a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="gh-input" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn-submit button"></input>
            </div>
            
        </form>
        </div>
    </div>
</div>